#ignore thumbnails created by windows
Thumbs.db
typescript

#vim
.*.sw?
*~
*.bak
*.fb

#binary
_build/*

#gcc
*.o
*.hex
*.out
*.bin
*.lst
*.sct

#jlink & error
JLinkLog.txt
*.dep
*.d
*.crf
*.build_log.htm
*.tdwebste
*.axf
*.lnp
*.map
_build

#keep local eclipse project files
*.cproject
*.project
#ignore keil gui files
*.uvopt
*.uvgui.*

#ignore doc temp files
.~lock.*
.*~

#ignore archive files
*.tar
